<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadoliebre</title>
    <script src="https://kit.fontawesome.com/76d25d6fff.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

        
</head>
<body class="home">
    <header class="header">
        <img src="./images/logo-mercado-liebre.svg" width="" height="">
        <div>
            <form action=""><input type="text" placeholder=""><button>buscar</button></form>            
        </div>
        <nav>
            
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>            
        </nav>
        <nav>
            <ul>
                <li>Creá tu cuenta<i class="fas fa-hand-holding-usd"></i></li>
                <li>Ingresá<i class="fas fa-sign-in-alt"></i></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>                
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <div>
        <img class="banner" src="./images/img-home-banner.jpg" width="" >
    </div>
    <section>
        <h2>Basado en tu última visita</h2>
        <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$6.770</h3>
                <h4>40% off</h4>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
        </article>
        <article>
            <img src="./images/img-macbook-pro-2019.jpg" alt="Mac Book pro" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$230.000</h3>
                <h4>20% off</h4>
                <h4 class="descripcion">Macbook pro 2019</h4>
            </div>
        </article>
        <article>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$70.500</h3>
                <h4>10% off</h4>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
        </article>
        <article>
            <img src="./images/img-tv-samsung-smart.jpg" alt="Tv samsung" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$23.200</h3>
                <h4>5% off</h4>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
        </article>        
    </section>
    <section>
        <h2>Ofertas</h2>
        <article>
            <img src="./images/img-cafetera-moulinex.jpg" alt="Cafetera moulinex" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$6.770</h3>
                <h4>40% off</h4>
                <h4 class="descripcion">Cafetera Moulinex</h4>
            </div>
        </article>
        <article>
            <img src="./images/img-macbook-pro-2019.jpg" alt="Mac Book pro" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$230.000</h3>
                <h4>20% off</h4>
                <h4 class="descripcion">Macbook pro 2019</h4>
            </div>
        </article>
        <article>
            <img src="./images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$70.500</h3>
                <h4>10% off</h4>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
        </article>
        <article>
            <img src="./images/img-tv-samsung-smart.jpg" alt="Tv samsung" width="">
            <div class="precio">
                <i class="fas fa-truck"></i>
                <h3>$23.200</h3>
                <h4>5% off</h4>
                <h4 class="descripcion">Samsung Galaxy S10</h4>
            </div>
        </article>        
    </section>
    <footer class="footer">
        <article>
            <i class="fas fa-credit-card"></i>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                    puntos de pago. ¡Y siempre es seguro!</p>
        </article>
        <article>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
            productos. Es un beneficio de Mercado Puntos.                
            </p>
        </article>
        <article>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>                    
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
            porque estás siempre protegid@.
            </p>
        </article>
        <p>copyright <i class="far fa-copyright"></i> 1999-2020 Mercado Liebre S.R.L.</p>        
    </footer>
</body>
</html>